@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: rgb(82, 82, 82);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(10, 10, 10);
  }
}

@layer components {
  .bg-blur {
    backdrop-filter: blur(10px);
  }
  .underline-button {
    @apply relative cursor-pointer;
  }
  .underline-button:after {
    @apply absolute w-full left-0 bg-brown-900 scale-x-0 rounded-full;
    content: '';
    height: 2px;
    bottom: -3px;
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .underline-button:hover:after {
    @apply scale-x-[1] cursor-pointer;
    transform-origin: bottom left;
  }
  .button {
    @apply px-4 py-2 bg-transparent border border-white rounded-lg cursor-pointer;
  }
  .hover-button {
    @apply hover:text-brown-600 hover:border-brown-100 cursor-pointer;
    transition: 0.15s;
  }
  .accent-button {
    @apply rounded-full bg-orange-400 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-orange-500;
    transition: 0.15s;
  }
}
